
</body>
<div class="footer">
    <h2 class="footer-title bebas-neue-regular"><a href="/">MovieFlix</a></h2>
    <a name="contact"></a>
    <ul class="social-icon">
        <li><a href="https://www.instagram.com/shikharsinha154?igsh=NHZnNWdxMDR3dGdp" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://x.com/ShikharSinha117?t=YiYiH9zW4l5pJRtUI7uoZw&s=08 " target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/shikhar-sinha-b14299249/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="https://github.com/Shikhar1504" target="_blank"><i class="fa-brands fa-github"></i></a></li>
    </ul>
    <h2 class="footer-view">This Website is Created by Shikhar</h2>
    <p class="copyright">MovieFlix © 2024</p>
</div>
